<pre>
    Pour la déclaration des congés, la règle légale est que vous devez poser comme premier jour
de congés le premier jour où vous auriez du travailler pour ASALEE et le dernier jour est le
jour de la veille de la reprise pour ASALEE.

    Par exemple, une personne qui ne travaillerait jamais le lundi, et qui souhaite partir en
congés une semaine pleine (donc du lundi au vendredi inclus).

Elle posera :

    * comme premier jour : le mardi de la semaine

    * comme dernier jour : le lundi de la semaine suivante, veille de la reprise effective.

    Le principe est le même qu’on soit à temps partiel ou à temps complet, puisque le nombre de
jour de congés acquis par mois est 2,5 jours, quel que soit le temps de travail.

    On note la veille de la reprise, quel que soit le jour, même si c'est un dimanche
ou un jour férié. »
</pre>

<br />
<br />

<a href='javascript://' style='color:#000000' onclick="ajax_hideTooltip()"><span style="color: #CC2222">x Fermer l'aide</span></a>
