<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<!--<link href='../css/main.css' rel="stylesheet" type="text/css">-->
<meta content="text/html; charset=ISO-8859-15" http-equiv="content-type">
<title>Equivalences sur l'alcool</title>
</head>
<body>
<table border="0">

	<tr>
		<td rowspan="4" nowrap valign="top">10g d'alcool</td>
			<td>= 1 verre de 10 cl de vin ou de champagne</td>
	</Tr>
	<tr>
			<td>= 1 verre de 7 cl d'apéritif à 18° (pineau, muscat...)</td>
	</Tr>
	<tr>
			<td>= 1 demi (25 cl) de bière</td>
	</Tr>
	<tr>
			<td>= 2,5 cl d'alcool fort à 45 ° (whisky, pastis...)</td>
	</Tr>
</table>
</body>
</html>
