<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<!--<link href='../css/main.css' rel="stylesheet" type="text/css">-->
<meta content="text/html; charset=ISO-8859-15" http-equiv="content-type">
<title>Définition d'une HTA résistante au traitement</title>
</head>
<body>


On parle d'HTA résistante au traitement lorsque : <br>
- Il y a 3 anti-hypertenseurs au moins et que la TA n'est pas contrôlée<br>
- Il y a au moins un diurétique dans un de ces 3 médicaments<br>
- l'HTA a été vérifiée par une automesure à domicile

</body>
</html>
