<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta content="text/html; charset=ISO-8859-15" http-equiv="content-type">
<title>Correspondance médicament / molécule</title>
</head>
<body>
<div align='center'>
<h3>Correspondance médicament / molécule</h3>
<table border="1" >
<tr><th>Nom commercial</th><th>Molécule</th></tr>
<tr><td>TAHOR<br>CADUET(+amlodopine)</td><td>Atorvastatine</td></tr>
<tr><td>FRACTAL<br>LESCOL</td><td>Fluvastatine</td></tr>
<tr><td>ELISOR<br>PRAVADUAL(+acide acétylsalicylique)<br>VASTEN</td><td>Pravastatine</td></tr>
<tr><td>CRESTOR</td><td>Rosuvastatine</td></tr>
<tr><td>ZOCOR<br>LODALES</td><td>Simvastatine</td></tr>
<tr><td>INEGY</td><td>Simvastatine + ezetimibe</td></tr>
<tr><td>EZETROL</td><td>Ezetimibe</td></tr>
<tr><td>BEFIZAL</td><td>Bezafibrate</td></tr>
<tr><td>LIPANOR</td><td>Ciprofibrate</td></tr>
<tr><td>FEGENOR<br>LIPANTHYL<br>LIPIREX<br>SECALIP</td><td>Fenofibrate</td></tr>
<tr><td>LIPUR</td><td>Gemfibrozil</td></tr>
<tr><td>QUESTRAN</td><td>Cholestyramine</td></tr>
<tr><td>COLESTID</td><td>Colestipol</td></tr>
<tr><td>FONLIPOL</td><td>Tiadenol</td></tr>
<tr><td>LIPTRUZET</td><td>Atorvastatine, Ezetimibe</td></tr>
</table>


</div>
</body>
</html>
