<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<!--<link href='../css/main.css' rel="stylesheet" type="text/css">-->
<meta content="text/html; charset=ISO-8859-15" http-equiv="content-type">
<title>Calcul du RCVA</title>
</head>
<body>
Ce calcul peut se faire à partir de l'équation de Framingham (risque faible &lt;15 %, moyen 15 à 20 %, 
élevé &gt; 20 % selon recommandations ANAES 2000). Ce risque peut alors être comparé au risque idéal 
(celui qu'aurait un patient du même âge et du même sexe sans aucun autre facteur de risque). Se 
référer au protocole version longue pour plus d'information.
</body>
</html>
