<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<!--<link href='../css/main.css' rel="stylesheet" type="text/css">-->
<meta content="text/html; charset=ISO-8859-15" http-equiv="content-type">
<title>Nombre de paquets-année</title>
</head>
<body>
<p style="font-family:verdana;font-size:12px"><b>Le nombre de Paquets Année est une unité de mesure pour calculer le tabagisme d'une personne.</b><br>
<br/>
1 paquet-année correspond à la consommation de 1 paquet de cigarettes par jour pendant 1 an. Il suffit de multiplier le nombre de paquets de cigarettes fumées quotidiennement par le nombre d'années pendant lequel l'individu a consommé cette même quantité de paquets.
<br><br>
<u>C'est une simple multiplication :</u>
<br>
> 1/2 paquet par jour (10 cigarettes) pendant 10 ans = 0.5 x10 = 5 paquets-années
<br>
> 1 paquet par jour pendant 10 ans = 1x10=10 paquets-années
<br>
> 2 paquets par jour pendant 20 ans = 2x20 =40 paquets-années
<br>
 
<br>
A l'inverse 20 paquets-années peut se traduire de plusieurs façons : 2 paquets par jour pendant 10 ans,
<br>
1 paquet par jour pendant 20 ans, 4 paquets par jour pendant 5 ans...
</p>
 
</body>
</html>
