<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<!--<link href='../css/main.css' rel="stylesheet" type="text/css">-->
<meta content="text/html; charset=ISO-8859-15" http-equiv="content-type">
<title>Commentaire sur le tabac</title>
</head>
<body>
<b>Intervention brève </b>: rappeler les risques du tabagisme, demander le statut tabagique à chaque consultation et le niveau 
d'implication vers le sevrage avec soutien et encouragement si besoin.<br>
Le sevrage à proprement parlé sera suivi par le médecin.
</body>
</html>
