 <!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<title>| PSA | Obtenir votre mot de passe</title>

<meta name="author" content="ISAS">
<meta name="keywords" content="PSP,Portail Services Praticiens,ISAS,GDS,G&eacute;n&eacute;rale de Sant&eacute;">
<meta name="description" content="Portail Services Praticiens, &agrave; votre service pour &ecirc;tre au service de vos patients.">
<meta name="robots" content="noindex,nofollow">
<link href="css/psp.css" rel="stylesheet" type="text/css">
<link href="css/psp.css" rel="stylesheet" type="text/css">
<link href="css/psp_nicetitle.css" rel="stylesheet" type="text/css">
</head>
<body>
<!-- PAGE -->
<div align="center">
	<div id="page">
<!-- CONTENU -->
		<div id="contenu">
			<table width="798" border="0" cellspacing="0" cellpadding="0">
				<tr>
				    <td align='center'><b><font size='3'>
Pour obtenir votre mot de passe vous pouvez contacter :</b><br><br></td>
				</tr>
				<tr>
				    <td align='left'><font size='3'>
- Amaury Derville - 06 10 17 80 31 – <a href='mailto:aderville@isas.fr'>aderville@isas.fr</a><br/>
- Pierre Malvaux - 06 81 41 11 45 – <a href='mailto:pmalvaux@informed79.fr'>pmalvaux@informed79.fr</a><br/>
<!--
- Informed79 Services SAS - Xavier Guillon - 05 49 94 30 11 - <a href='mailto:xguillon@informed79.fr'>xguillon@informed79.fr</a><br>
- CCAS de Parthenay - Danielle Simonet - 05 49 94 01 11 - <a href='mailto:simonetclissonda@cc-parthenay.fr'>simonetclissonda@cc-parthenay.fr</a><br>
- SAD Communauté de communes du Pays Thénezéen - Martine Fillon - 05 49 63 08 15 - <a href='mailto:fillonma@cc-parthenay.fr'>fillonma@cc-parthenay.fr</a><br>
- SIVU Airvault Saint Loup Lamairé - Liliane Lucion - 05 49 64 64 88 - <a href='mailto:liliane-lucion@wanadoo.fr'>liliane-lucion@wanadoo.fr</a><br>
</b>
-->
</font></td>
				</tr>
			</table>
		</div>
	</div>
</div>
</body>
</html>
