 <!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<title>| PSV | Identifiez-vous</title>

<meta name="author" content="ISAS">
<meta name="keywords" content="PSP,Portail Services Praticiens,ISAS,GDS,G&eacute;n&eacute;rale de Sant&eacute;">
<meta name="description" content="Portail Services Praticiens, &agrave; votre service pour &ecirc;tre au service de vos patients.">
<meta name="robots" content="noindex,nofollow">
<link href="css/psp.css" rel="stylesheet" type="text/css">
<link href="css/psp.css" rel="stylesheet" type="text/css">
<link href="css/psp_nicetitle.css" rel="stylesheet" type="text/css">
</head>
<body>
<!-- PAGE -->
<div align="center">
	<div id="page">
<!-- ZONE IDENTITAIRE | Header -->
		<div id="header">
			<table width="806" border="0" cellspacing="0" cellpadding="0">
            	<tr>
            		<td width="355"><a href="index.html" title="Retour &agrave; l'accueil du Portail Services Praticiens"><img src="img/habillage/header_psv.gif" alt="Portail Services Vigilance" width="355" height="130" border="0"></a></td>
            		<td width="441" align="right" bgcolor="white"><img src="img/logos/logo.gif" alt="Services propos&eacute; par&hellip;" width="142" height="71" hspace="20" vspace="0"></td>
            		<td width="10"><img src="img/habillage/header_right.gif" width="10" height="130"></td>
           		</tr>
           	</table>
		</div>
<!-- NAVIGATION -->
		<div id="navigation">
			<table width="798" border="0" cellspacing="0" cellpadding="0">
            	<tr>
            		<td background="img/habillage/pattern_left.gif"></td>
            		<td bgcolor="white"><img src="img/habillage/gray_top.gif" width="778" height="11"></td>
            		<td width="10" rowspan="3"><img src="img/habillage/right_top_nav.gif" width="10" height="63"></td>
           		</tr>
            	<tr>
            		<td background="img/habillage/pattern_left.gif"></td>
            		<td align="left" bgcolor="white"><img src="img/habillage/serv_login.gif" alt="Afin de consulter et d'utiliser le PSV, veuillez vous identifier &agrave; l'aide de votre acc&egrave;s personnalis&eacute;" width="778" height="40"></td>
           		</tr>
            	<tr>
            		<td width="10" background="img/habillage/pattern_left.gif"></td>
            		<td width="778" bgcolor="white"><img src="img/habillage/gray_bottom.gif" width="778" height="12"></td>
           		</tr>
			</table>
		</div>
<!-- CONTENU -->
		<div id="contenu">
			<table width="798" border="0" cellspacing="0" cellpadding="0">
				<tr>
					<td width="10" valign="bottom" background="img/habillage/left_bottom.gif" style="background-position:bottom;">&nbsp;</td>
					<td width="778" valign="top" bgcolor="white">
						<div class="connexe">
							<div class="login">
								<h1><img src="img/titres/acces_personnel.gif" alt="Acc&egrave;s personnalis&eacute;" width="265" height="20"></h1>
								<h2>Veuillez rentrer votre nom d'utilisateur et votre mot de passe.</h2>
								<form name="loginPSP">
								<div class="valid">
									<a href="bienvenue.html" title="Se connecter au PSP"><img src="img/boutons/btn_login_ok.gif" alt="OK" width="34" height="41" border="0"></a>
								</div>
								<p><label>Nom d'utilisateur<br>
									    <img src="img/puces/cartouche.gif" width="5" height="17" align="absbottom">
									    <input name="UserID" type="text" class="champs" id="UserID" tabindex="1">
								</label></p>
								<p><label>Mot de passe<br>
									    <img src="img/puces/cartouche.gif" width="5" height="17" align="absbottom">
									    <input name="UserPWD" type="password" class="champs" id="UserPWD" tabindex="2">
								</label></p>
								</form>
								<p class="aide"><a href="#">Mot de passe oubli&eacute;</a></p>
								<p class="nouveau"><a href="#">Cr&eacute;er un nouveau compte</a></p>
							</div>
						</div>
						<div class="mainlogin">
						<img src="img/visuels/visuel_psv_01.jpg" alt="&Ecirc;tre vigilant pour &ecirc;tre au service de vos patients" width="480" height="157"></div>
						<div class="footer">
							<img src="img/habillage/gray_top.gif" width="778" height="11"><br>
							&copy;2005 ISAS <span>|</span> <a href="#" title="Consultez les informations juridiques">Informations juridiques</a> <span>|</span> Services propos&eacute;s par Isas </div>
					</td>
					<td width="10" valign="top" background="img/habillage/right_top.gif">&nbsp;
					</td>
				</tr>
				<tr>
					<td colspan="3"><img src="img/habillage/bottom.gif" width="798" height="10"></td>
				</tr>
			</table>
		</div>
	</div>
</div>
</body>
</html>