<pre>
  L'IPS est indiqué pour tous les patients de plus de 40 ans,
  homme ou femme, asymptomatique quant aux signes d’AOMI
  et remplissant un des critères suivants :

- Présence d’un diabète.
  (Les patients diabétiques type 1 avéré depuis > 20 ans, mais âgé de moins de 40 ans diabète
  feront l’objet, malgré leur âge d’une mesure de IPS et entreront dans le protocole).

- Tabagisme actif ou corrigé évalué à 20 PA pour les hommes et 15 PA pour les femmes.
  (Le choix de ce critères « PA » plutôt adapté à la pathologie pulmonaire,
  fera l’objet du questionnement au cours des 6 mois.)

- HTA permanente.

- Dyslipidémies (LDL > 1,9 ou HDL < 0,40)

- Présence d’une pathologie cardio vasculaire chez un patient
  non identifié comme porteur d’une AOMI (coronaropathie, AVC…)

- Antécédents familiaux (parents du 1° degré) délétères sur le plan cardiovasculaire :
  ischémie myocardique ou mort subite avant 55 ans pour un homme et 65 pour une femme.

- SOAS avéré.

Tous les patients répondant à l’un de ces critères devront se voir proposer la mesure de l’IPS.
</pre>

<br />
<br />

<a href='javascript://' style='color:#000000' onclick="ajax_hideTooltip()"><span style="color: #CC2222">x Fermer l'aide</span></a>
