<pre>
Une exploration complémentaire par écho doppler artériel auprès du spécialiste correspondant sera à prescrire pour tout patient répondant aux critères suivants :

- IPS < 0,90

Ou

- IPS > 1,40 en l’absence de diabète

- IPS > 1,20 en présence de diabète

A noter que la justification de cette distinction chez le diabétique devra faire l’objet tout au long des 6 mois d’un questionnement régulier.
</pre>

<br />
<br />

<a href='javascript://' style='color:#000000' onclick="ajax_hideTooltip()"><span style="color: #CC2222">x Fermer l'aide</span></a>
