<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta content="text/html; charset=ISO-8859-15" http-equiv="content-type">
<title>Correspondance médicament ADO / molécule</title>
</head>
<body>
<div align='center'>
<h3>Correspondance médicament ADO / molécule</h3>
<table border="1" rules="none">
<tr><th>Nom commercial</th><th>Molécule</th></tr>
<tr><td>AMAREL</td><td>Glimepiride</td></tr>
<tr><td>BYETTA</Td><td>Exénatide</td></Tr>
<tr><td>BYDUREON</Td><td>Exénatide (injection hebdomadaire)</td></Tr>
<tr><td>DAONIL</td><td>Glibenclamide</td></tr>
<tr><td>DIABAMYL</td><td>Metformine</td></tr>
<tr><td>DIAMICRON</td><td>Gliclazide</td></tr>
<tr><td>DIASTABOL</td><td>Miglitol</td></tr>
<tr><td>EUCREAS</td><td>Metformine, vildagliptine</td></tr>
<tr><td>EUGLUCAN</td><td>Glibenclamide</td></tr>
<tr><td>GALVUS</td><td>Vildagliptine</td></tr>
<tr><td>GLIBENESE</td><td>Glipizide</td></tr>
<tr><td>GLICLAZIDE</td><td>Gliclazide</td></tr>
<tr><td>GLUCIDORAL</td><td>Carbutamide</td></tr>
<tr><td>GLUCOPHAGE</td><td>Metformine</td></tr>
<tr><td>GLUCOR</td><td>Acarbose</td></tr>
<tr><td>GLUCOVANCE</td><td>Metformine, glibenclamide</td></tr>
<tr><td>GLYMAX</td><td>Metformine</td></tr>
<tr><td>JANUVIA</td><td>Sitagliptine</td></tr>
<tr><td>JANUMET</td><td>Sitagliptine, metformine</td></tr>
<tr><td>KOMBOGLYSE</td><td>Saxagliptine  Metformine</td></tr>
<tr><td>METFORMINE</td><td>Metformine</td></tr>
<tr><td>MIGLUCAN</td><td>Glibenclamide</td></tr>
<tr><td>MINIDIAB</td><td>Glipizide</td></tr>
<tr><td>NOVONORM</td><td>Repaglinide</td></tr>
<tr><td>ONGLYZA</td><td>Saxagliptine</td></tr>
<tr><td>OZIDIA</td><td>Glipizide</td></tr>
<tr><td>STAGID</td><td>Metformine</td></tr>
<tr><td>TRULICITY</td><td>Dulaglutide injectable</td></tr>
<tr><td>VICTOZA</td><td>Liraglutide</td></tr>
<tr><td>VELMETIA</td><td>Metformine, sitagliptine</td></tr>
<tr><td>XELEVIA</td><td>Sitagliptine</td></tr>
<tr><td>XULTOPHY</td><td>insuline degludec, liraglutide</td></tr>
</table>
</div>
</body>
</html>
