<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta content="text/html; charset=ISO-8859-15" http-equiv="content-type">
<title>Liste des fonds d'oeils réalisés</title>
</head>
<body bgcolor='#FFE887'>
<div align='center'>
<b>Liste des Fonds d'Oeils réalisés<br><br><br></b>
<table border="0" rules="none">
<tr><th width='50'>Date</th><th width='50'>Oeil</th><th width='200'>Visualiser en taille réelle</th></tr>
<tr><td align='center' width='50'>30/01/2008</td><td align='center' width='50'>Droit</td><td align='center' width='200'>
	<img src="./foeil/DERVILLE_Amaury_10-04-1964_fait_le_30-01-2008_a_09H08_54s_OD_a-Couleur1.jpg" alt="Cliquez pour agrandir" width='40'
	onclick="javascript:window.open('./foeil/DERVILLE_Amaury_10-04-1964_fait_le_30-01-2008_a_09H08_54s_OD_a-Couleur1.jpg','')"
</tr>
<tr><td align='center' width='50'>30/01/2008</td><td align='center' width='50'>Gauche</td><td align='center' width='200'>
	<img src="./foeil/DERVILLE_Amaury_10-04-1964_fait_le_30-01-2008_a_09H08_54s_OG_a-Couleur2.jpg" alt="Cliquez pour agrandir" width='40'
	onclick="javascript:window.open('./foeil/DERVILLE_Amaury_10-04-1964_fait_le_30-01-2008_a_09H08_54s_OG_a-Couleur2.jpg','')"
</tr>

</table>
</div>
</body>
</html>
